* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
li {
    list-style: none;
}
.slide {
    /* border: 1px solid red; */
    max-width: 500px;
    width: 80%;
    margin: 2rem auto;
    position: relative;
}
.slideUl {
    display: flex;
    flex-direction: row;
}
.top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
}
.top > span,
.mtop > span {
    font-size: 1.5rem;
    font-weight: bold;
}
.addBtn,
.clearBtn,
.closeBtn,
.listAddBtn {
    background-color: white;
    border-radius: 5px;
    border-color: rgb(146, 146, 146);
    padding: 0.5rem 1rem;
}

.bot {
    width: 150px;
    display: flex;
    justify-content: center;
    gap: 1rem;
    color: #929292;
    padding: 1rem 0 3rem 0;
    margin: auto;
}
.bot button {
    background-color: white;
    color: #929292;
    border: none;
}
.bot button:hover {
    border: 2px solid black;
    border-radius: 5px;
}
.clearBtn {
    position: absolute;
    right: 0;
}
.slider,
.empty {
    border: 1px solid blue;
    padding-top: 70%;
    position: relative;
    border-radius: 1rem;
}
.front,
.back {
    transition: 0.5s;
}
.front .quest,
.back > span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    font-weight: bold;
}
.front .not {
    position: absolute;
    top: 0;
    right: 0;
    color: #929292;
}
.back {
    background-image: aqua;
    transform: rotateY(180deg);
}
.front.reverse {
    transform: rotateY(-180deg);
}
.back.reverse {
    transform: rotateY(0);
}
.empty > span {
    position: absolute;
    font-size: 1.5rem;
    font-weight: bold;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modal {
    background-color: rgb(193, 193, 193);
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
}
.sec {
    max-width: 500px;
    width: 80%;
    margin: 2rem auto;
    position: relative;
}
.mtop {
    display: flex;
    justify-content: space-between;
}
.mmid {
    padding-top: 1rem;
}
.mmid > input {
    width: 100%;
    height: 3rem;
    margin: 0.5rem 0;
    border-radius: 5px;
    border-color: rgb(146, 146, 146);
}
